*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.body{
	background-color: green;
}
.main{
	width: 100%;
	display: flex;
	justify-content: center;
	background: green;
}
.mainimag01{
	width: 70vw;
}
@media(max-width:768px, min-width: 320px){
	.mainimag01{
		width: 100%;
	}
}